[submodule "pm-gui"]
	path = pm-gui
	url = https://github.com/ProgrammableMatterProject/pm-gui
[submodule "pm-firmware"]
	path = pm-firmware
	url = https://github.com/ProgrammableMatterProject/pm-firmware
[submodule "pm-cli"]
	path = pm-cli
	url = https://github.com/ProgrammableMatterProject/pm-cli
